
doctype html
html(lang="en")
  head
    title= title
    link(rel='stylesheet' href='styles/styles.css')
    //- script(src="/components/jquery/dist/jquery.min.js")
  body(ng-app="dashbored")
    div(ui-view)
    section(ng-include="'fe_partials/notes_widget/notes_add.html'")
    //- section(ng-include="fe_partials/topics.html")
    
    script require('electron-connect').client.create()
    script(src='lib/angular/angular.min.js')
    script(src='lib/angular-ui-router/release/angular-ui-router.min.js')
    script(src='app.js')
    //- Controllers
    script(src='fe_controllers/notes_ctrl.js')
